.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  margin-top: 94px;
}

.header__menu-list {
  display: flex;
  grid-column-start: 1;
  gap: 32px;
  margin-left: 50px;
  font-weight: 400;
  font-size: 18px;
  list-style: circle;
}

.header__menu-item {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__menu-item_active {
  text-decoration: none;
  list-style: none;
}

.header__menu-link {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
}

.header__logo {
  grid-column-start: 2;
  justify-self: center;
  margin-left: -144px;
}

.header__logo-image {
  width: 129px;
}

.header__address {
  grid-column-start: 3;
  justify-self: center;
  margin-right: 46px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 96px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.cover__title {
  justify-content: space-between;
  padding-top: 165px;
  padding-right: 20px;
}

.aligned-text {
  position: relative;
  display: block;
  margin-left: 53px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 25px;
  text-transform: uppercase;
}

.last-letter {
  margin-left: 29px;
}

.first-letter {
  display: inline-block;
  margin-right: 27px;
}

.aligned-text-center {
  position: relative;
  display: block;
  margin-top: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 100%;
  letter-spacing: 30px;
  text-align: center;
  text-transform: uppercase;
}

.aligned-text-right {
  position: relative;
  display: block;
  margin-top: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 100%;
  letter-spacing: 30px;
  text-align: right;
  text-transform: uppercase;
}

.last-letter-right {
  display: inline-block;
  margin-right: 0;
}

.cover__description {
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 84px;
  margin: 133px 48px 50px 300px;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
}

.cover__description-text {
  display: flex;
  text-align: center;
  word-spacing: 17px;
}

.bet-button {
  border: 1px solid white;
  padding: 12px 32px;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  text-underline-offset: 4px;
}

.lots {
  margin-top: 180px;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 87px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  margin-right: 50px;
  margin-bottom: 28px;
  margin-left: 50px;
  list-style: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  padding-bottom: 14px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
}

.lots__look-more-link {
  margin-left: 95px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  line-height: normal;
  text-decoration: underline;
}

.card-title {
  position: relative;
  padding: 58px 40px 20px 40px;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card-text {
  position: relative;
  padding: 0 36px 42px 42px;
  color: #fff;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.about {
  display: grid;
  grid-template-columns: 502px auto;
  margin-top: 181px;
  margin-right: 50px;
}

.about__logo {
  display: flex;
  grid-column: 1;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 241px;
  height: 240px;
  margin-left: 23px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 141px;
}

.about__content {
  display: grid;
}

.about__title {
  grid-column: 2;
  margin-top: 100px;
  margin-bottom: 70px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  grid-column: 2;
  margin-top: 27px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  line-height: normal;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  justify-content: space-between;
  margin-top: 179px;
  margin-bottom: 88px;
}

.footer__address {
  grid-column: 1;
  margin-left: 51px;
  color: #000;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
}

.footer__menu {
  grid-column: 2;
  margin-right: -7px;
  list-style: none;
}

.footer__menu-list-item {
  display: grid;
  list-style: none;
}

.footer__menu-link {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  text-align: center;
  text-decoration: underline;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  grid-column: 3;
  justify-self: end;
  gap: 45px;
  margin-right: 53px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
